<div class="container text-center">
  <br>
  <h1>Зборле</h1>
  <br>
  <div class="row">
    <div class="col" id="0">
      <input [disabled]="counter!==0 || order!==0" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required autofocus>
      <input [disabled]="counter!==0 || order!==1" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==0 || order!==2" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==0 || order!==3" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==0 || order!==4 || word === todaysWord" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
    </div>
  </div>
  <div class="row">
    <div class="col" id="1">
      <input [disabled]="counter!==1 || order!==0" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required autofocus>
      <input [disabled]="counter!==1 || order!==1" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==1 || order!==2" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==1 || order!==3" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==1 || order!==4 || word === todaysWord" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
    </div>
  </div>
  <div class="row">
    <div class="col" id="2">
      <input [disabled]="counter!==2 || order!==0" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==2 || order!==1" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==2 || order!==2" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==2 || order!==3" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==2 || order!==4 || word === todaysWord" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
    </div>
  </div>
  <div class="row">
    <div class="col" id="3">
      <input [disabled]="counter!==3 || order!==0" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==3 || order!==1" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==3 || order!==2" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==3 || order!==3" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==3 || order!==4 || word === todaysWord" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
    </div>
  </div>
  <div class="row">
    <div class="col" id="4">
      <input [disabled]="counter!==4 || order!==0" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==4 || order!==1" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==4 || order!==2" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==4 || order!==3" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==4 || order!==4 || word === todaysWord" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
    </div>
  </div>
  <div class="row">
    <div class="col" id="5">
      <input [disabled]="counter!==5 || order!==0" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==5 || order!==1" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==5 || order!==2" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==5 || order!==3" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
      <input [disabled]="counter!==5 || order!==4 || word === todaysWord" (input)="dodadi($event)" class="m-1" type="text" maxlength="1" required>
    </div>
  </div>
</div>

