input {
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    border-radius: 7%;
}

h1{
    font-weight: bolder;
    font-size: 35px;
}

#invalidWord{
    padding: 10px;
    font-size: larger;
    background-color: #ffa500;
    color: wheat;
}

#fail {
    padding: 10px;
    font-size: larger;
    background-color: #ff0000;
    color: wheat;
}

#success {
    padding: 10px;
    font-size: larger;
    background-color: #008000;
    color: wheat;
}